.App {
  text-align: center;
}

.container {
  height: 400px;
  width: 40%;
  margin: 10% 5%;
  /* border: 1px solid black; */
}
.plot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
}
.marker {
  cursor: pointer;
}
.radio-container {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-container p {
  margin-bottom: 2%;
}

.input-container {
  display: flex;
  margin-top: 3%;
}

.error {
  color: red;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #555;
  border-radius: 4px;
  margin-right: 10px;
}

input[type="radio"]:checked + label {
  background-color: #168acb;
  color: white;
  border-color: #168acb;
}

.popup {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100px;
  
  color: #168acb;
  /* background-color: aquamarine; */
}

/* #168ACB
  #00AC63 */
