.App {
  text-align: center;
}

.container {
  height: 400px;
  width: 40%;
  margin: 10% 5%;
  /* border: 1px solid black; */
  }
  .plot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .main{
    display: flex;
  }
  .marker {
    cursor: pointer;
  }


  /* #168ACB
  #00AC63 */

